<div class="max-w-2xl container mx-auto my-5">
  <h1 class="font-bold mb-2 text-center text-lg">{{ title | titlecase }}</h1>

  <!-- <product-component [product]="products[0]"> </product-component>
  <product-component [product]="products[1]"> </product-component>
  <product-component [product]="products[2]"> </product-component>
  <product-component [product]="products[3]"> </product-component>
  <product-component [product]="products[4]"> </product-component> -->

  
  <product-component
    *ngFor="let product of products; let i = index"
    [product]="product"
 
  ></product-component>
</div>
